.layout{
    position: relative;
    width: 100vw;
    &__header{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000, $alpha: 0.25);
        backdrop-filter: blur(2px);
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 128px;
            height: 36px;
            object-fit:contain;
        }
        .name{
            width: 380px;
            font-size: 36px;
            font-weight:500;
            color: #fff;
            padding-left: 16px;
            font-family:'Courier New', Courier, monospace;
        }
        .navMenu{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 300px;
            background-color: rgba($color: #000, $alpha: 0);
        }
        .accountInfo{
            display: flex;
            color: #fff;
        }
        .ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected{
            background-color: rgba($color: #000, $alpha: 0);
        }
    }
    &__content{
        height:100vh ;
        .container{
            .main{
                position: relative;
                display: flex;
                height: 100vh;
                flex-direction: column;
                color: #fff;
                scroll-snap-align: start;
                .subPage1{
                    padding: 10% 10% 0 10%;
                    .headLine{
                        width: fit-content;
                        margin: 0;
                        font-size: 64px;
                        font-weight: bold;
                        line-height: 64px;
                    }
                    .subLine{
                        font-size: 20px;
                        line-height: 32px;
                    }
                    .buttonBox{
                        display: flex;
                        gap: 16px;
                        padding-top: 36px;
                        .button{
                            width: 200px;
                            height: 50px;
                            font-size: 16px;
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
                .subPage2{
                    padding: 5% 5% 0 5%;
                    .header{
                        width: 200px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        background-color: #000;
                        border-radius: 10px;
                    }
                    .logo{
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                    }
                    .title{

                    }
                    .desc{
                        padding: 5% 15% 0px 15% ;
                        font-size: 24px;
                        line-height: 60px;
                        text-indent: 2em;
                    }
                }
                &:nth-child(2n+1){
                    background-color: darkslateblue;
                }
                &:nth-child(2n){
                    background-color: #222;
                }
            }
            .info{
                position: absolute;
                bottom: 0;
                display: flex;
                width: 100%;
                &__item{
                    padding: 0 64px 0 96px;
                    flex: 1;
                    font-size: 12px;
                }
            }
        }
    }
    &__footer{
        background-color: black;
    }
}