.layout{
    position: relative;
    width: 100vw;
    min-width: 1280px;
    .backToTop{
        position: fixed;
        font-size: 40px;
        padding-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 15px;
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.3);
        right: 50px;
        bottom: 50px;
        z-index: 999;
        cursor: pointer;
        user-select:none;
    }
    &__header{
        min-width: 1280px;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000, $alpha: 0.25);
        backdrop-filter: blur(2px);
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 36px;
            height: 36px;
            object-fit:contain;
        }
        .name{
            font-size: 42px;
            font-weight:bold;
            color: #fff;
            padding-left: 16px;
            font-family:'Courier New', Courier, monospace;
        }
        .navMenu{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 300px;
            background-color: rgba($color: #000, $alpha: 0);
        }
        .accountInfo{
            display: flex;
            color: #fff;
        }
        .ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected{
            background-color: rgba($color: #000, $alpha: 0);
        }
    }
    &__content{
        height:100vh;
        min-width: 1280px;
        min-height: 720px;
        .container{
            .main{
                position: relative;
                display: flex;
                height: 100vh;
                flex-direction: column;
                color: #fff;
                scroll-snap-align: start;
                .subPage1{
                    padding: 10% 10% 0 10%;
                    .headLine{
                        width: fit-content;
                        margin: 0;
                        font-size: 64px;
                        font-weight: bold;
                        line-height: 64px;
                    }
                    .subLine{
                        font-size: 20px;
                        line-height: 32px;
                    }
                    .buttonBox{
                        display: flex;
                        gap: 16px;
                        padding-top: 36px;
                        .button{
                            width: 200px;
                            height: 50px;
                            font-size: 16px;
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
                .subPage2{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    .frameworkImage{
                        display: block;
                        height: 100vh;
                        object-fit: contain;
                        z-index: 2;
                    }
                    .frameworkFilter {
                        position: absolute;
                        width: calc(200px);
                        height: 100vh;
                        object-fit: cover;
                        transform: scale(-1.1, 1.0);
                        filter: blur(20px);
                        overflow: hidden;
                        z-index: 1;
                      }
                }
                .subPage3{
                    padding: 5% 5% 0 5%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transform-style: preserve-3d;
                    perspective: 500px;
                    .title{
                        font-size: 36px;
                        font-weight: bolder;
                    }
                    .desc{
                        font-size: 18px;

                    }
                    .cardBox{
                        display: flex;
                        padding: 32px 0 24px 0;
                        gap: 32px;
                        .card{
                            padding: 16px;
                            width: 600px;
                            height: 500px;
                            border-radius: 5px;
                            background-color: #222;
                            transform-style: preserve-3d;

                            .img{
                                width: 100%;
                                object-fit: contain;
                            }
                            .inf{
                                position: relative;
                                padding-left: 16px;
                                .head{
                                    font-size: 24px;
                                    font-weight: bold;
                                }
                                .desc{
                                    font-size: 16px;
                                }
                                .link{
                                    position: absolute;
                                    right: 20px;
                                    font-weight: bolder;
                                    font-size: 20px;
                                    text-decoration: underline;
                                    color: rgb(80, 241, 241);
                                    &:hover{
                                        color: rgb(175, 255, 255);
                                    }
                                }
                            }
                        }
                    }
                }
                .subPage4{
                    padding: 5% 5% 0 5%;
                    .header{
                        width: 200px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        background-color: #000;
                        border-radius: 10px;
                    }
                    .logo{
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                    }
                    .title{

                    }
                    .desc{
                        padding: 5% 15% 0px 15% ;
                        font-size: 24px;
                        line-height: 60px;
                        text-indent: 2em;
                    }
                }
                &:nth-child(2n+1){
                    background-color: darkslateblue;
                }
                &:nth-child(2n){
                    background-color: #000;
                }
            }
            .info{
                position: absolute;
                bottom: 0;
                display: flex;
                width: 100%;
                &__item{
                    padding: 0 64px 0 96px;
                    flex: 1;
                    font-size: 12px;
                }
            }
        }
    }
    &__footer{
        background-color: black;
    }
}