.layout{
    position: relative;
    width: 100vw;
    min-width: 1440px;
    .backToTop{
        position: fixed;
        font-size: 40px;
        padding-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 15px;
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.3);
        right: 1.5%;
        bottom: 2%;
        z-index: 999;
        cursor: pointer;
        user-select:none;
    }
    &__header{
        min-width: 1440px;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000, $alpha: 0.25);
        backdrop-filter: blur(2px);
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 36px;
            height: 36px;
            object-fit:contain;
        }
        .name{
            font-size: 42px;
            font-weight:bold;
            color: #fff;
            padding-left: 16px;
            font-family:'Courier New', Courier, monospace;
        }
        .navMenu{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 300px;
            background-color: rgba($color: #000, $alpha: 0);
        }
        .accountInfo{
            display: flex;
            color: #fff;
        }
        .ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected{
            background-color: rgba($color: #000, $alpha: 0);
        }
    }
    &__content{
        height:100vh;
        min-width: 1440px;
        min-height: 720px;
        .container{
            .main{
                position: relative;
                display: flex;
                height: 100vh;
                flex-direction: column;
                color: #fff;
                scroll-snap-align: start;
                .subPage1{
                    padding: 15% 10% 0 10%;
                    .headLine{
                        width: fit-content;
                        margin: 0;
                        font-size: 64px;
                        font-weight: bold;
                        line-height: 64px;
                    }
                    .subLine{
                        font-size: 20px;
                        line-height: 32px;
                    }
                    .buttonBox{
                        display: flex;
                        gap: 16px;
                        padding-top: 36px;
                        .button{
                            width: 200px;
                            height: 50px;
                            font-size: 16px;
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
                .info{
                    &__item{
                        .desc{
                            line-height: 16px;
                            margin: 8px 0 8px 16px;
                        }
                    }
                }
                .subPage2{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    .frameworkImage{
                        display: block;
                        height: 100vh;
                        object-fit: contain;
                        z-index: 2;
                    }
                    .frameworkFilter {
                        position: absolute;
                        width: calc(200px);
                        height: 100vh;
                        object-fit: cover;
                        transform: scale(-1.1, 1.0);
                        filter: blur(20px);
                        overflow: hidden;
                        z-index: 1;
                      }
                }
                .subPage3{
                    padding: 5% 5% 0 5%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transform-style: preserve-3d;
                    perspective: 500px;
                    .title{
                        font-size: 36px;
                        font-weight: bolder;
                    }
                    .desc{
                        font-size: 18px;

                    }
                    .cardBox{
                        display: flex;
                        justify-content: center;
                        padding: 32px 0 24px 0;
                        gap: 32px;
                        .card{
                            padding: 16px;
                            width: 40%;
                            border-radius: 5px;
                            background-color: #222;
                            transform-style: preserve-3d;

                            .img{
                                width: 100%;
                                object-fit: contain;
                            }
                            .inf{
                                position: relative;
                                padding-left: 16px;
                                .head{
                                    font-size: 24px;
                                    font-weight: bold;
                                }
                                .desc{
                                    font-size: 16px;
                                }
                                .bottom{
                                    display: flex;
                                    width: 100%;
                                    justify-content: space-between;
                                    align-items: center;
                                    .tip{
                                        font-size: 20px;
                                        color: rgb(80, 241, 241);
                                        font-weight: bold;
                                    }
                                    .link{
                                        right: 20px;
                                        font-weight: bolder;
                                        font-size: 20px;
                                        text-decoration: underline;
                                        color: rgb(80, 241, 241);
                                        &:hover{
                                            color: rgb(175, 255, 255);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .subPage4{
                    padding: 5% 5% 0 5%;
                    .aboutUs{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        .header{
                            margin-left: 100px;
                            width: 200px;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 16px;
                        }
                        .logo{
                            width: 32px;
                            height: 32px;
                            object-fit: contain;
                        }
                        .desc{
                            height: 100%;
                            padding: 5% 15% 0 15% ;
                            font-size: 24px;
                            line-height: 48px;
                            text-indent: 2em;
                        }
                        .btn{
                            width: 150px;
                            height: 50px;
                            position: absolute;
                            right: 400px;
                            bottom: 100px;
                            background-color:rgba($color: #fff, $alpha: 0.2);
                            color: #fff;
                            font-weight: bold;
                            border: 3px solid #fff;
                            border-radius: 15px;
                        }
                    }
                    .contact{
                        display: flex;
                        position:absolute;
                        right: 150px;
                        bottom: 24px;
                        flex-direction: column;
                        .top{
                            height: 56px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 16px;
                            background-color: #fff;
                            border-radius: 15px;
                            .cu{
                                color: #000;
                                font-size: 36px;
                                font-weight: bolder;
                                line-height: 36px;
                            }
                            .xIcon{
                                width: 36px;
                                height: 36px;
                                border-radius: 5px;
                            }
                        }
                        .email{
                            font-size: 16px;
                            font-weight: bold;
                            color: rgb(80, 241, 241);
                        }
                    }
                    
                }
                &:nth-child(2n+1){
                    background-color: darkslateblue;
                }
                &:nth-child(2n){
                    background-color: #000;
                }
            }
            .info{
                position: absolute;
                bottom: 0;
                display: flex;
                width: 100%;
                &__item{
                    padding: 0 64px 0 96px;
                    flex: 1;
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 1440px) {
    .subPage1{
        .headLine{
            font-size: 40px !important;
            line-height: 40px !important;
        }
        .subLine{
            font-size: 16px !important;
            line-height: 20px !important;
        }
        .buttonBox{
            padding-top: 36px !important;
            .button{
                font-size: 12px !important;
            }
        }
    }
    .info{
        &__item{
            .desc{
                line-height: 12px;
                margin: 8px 0 8px 16px;
            }
        }
    }
    .subPage3{
        .cardBox{
            .card{
                .inf{
                    .head{
                        font-size: 20px !important;
                    }
                    .desc{
                        font-size: 12px !important;
                    }
                    .tip{
                        font-size: 16px !important;
                    }
                    .link{
                        font-size: 16px !important;
                    }
                }
            }
        }
    }

    .subPage4{
        .header{

        }
        .desc{
            padding: 64px 0 0 0 !important;
            transform: scale(0.8);
        }
        .contact{
            right: 20px;
            bottom: 8px;
            transform: scale(0.8);
        }
    }
        
} 
        
@media (min-width: 1680px) {
        
} 
@media (min-width: 1920px) {
    
}

@media screen and (min-width: 1921px) {
    
}
  